.jumbotron {
  padding-top: 6rem;
    background: url(image/love.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

#projects {
  background-color: rgba(137, 43, 226, 0.144);
}
section {
  padding-top: 5rem;
}
